

<div *ngIf="post | async as p">

  <h2>{{ p.text }}</h2>
  <h4>Votes: {{ p.likes }}</h4>

  <button mat-raised-button (click)="upvote()" color="primary">Upvote</button>
  <button mat-raised-button (click)="downvote()" color="accent">Downvote</button>
  <button mat-raised-button (click)="resetPost()" color="warn">Reset</button>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title Post" [(ngModel)]="text" [value]="p.text" >
  </mat-form-field>

  <button mat-raised-button (click)="editText()">Change Title</button>

</div>
